/*
   New Perspectives on HTML and CSS
 
	Author: Richard Henderson
	Date: 11/27/2018
	

   Filename:         bio.css
   Supporting Files: 

*/

li {
	display: inline;
}


body {
	background-color:rgb(205,213,203);
}

body {
	background-image:url("america.png");
	background-repeat: no-repeat;
	opacity: .65;
}